
<html>
  <head>
    <title>Flights</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <section>
  <body>
    
    <h1>Flight Details</h1>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departs</th>
          <th>Departure Airport</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><%= flight.airport %></td>
        </tr>
      </tbody>
    </table>
  </section>
   <!-- new markup below -->
 <br><br><h2>Destination</h2>
 <table>
   <thead>
     <tr>
       <th>Destination Airport
       </th>
       <!-- <th>Arrival</th> -->
     </tr>
   </thead>
 </table>
 <tbody>
   <tr>
     <td>
       <!-- ejs templating -->
     </td>
   </tr>
 </tbody>
<form action=""></form method="POST">
  <label for="#">Destination Airport
  <option value="AUS">AUS</option>
  <option value="DFW">DFW</option>
  <option value="DEN">DEN</option>
  <option value="LAX">LAX</option>
  <option value="SAN">SAN</option>
</label>
<br>
<label for="#">Arrival
  <input type="#" name="#">

</label>
<br>
<button type="submit">Add Details</button>
</form>




  </body>
</html>
