
<html>
  <head>
    <title>Flights</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <section>
  <body>
    
    <h1>Flight Details</h1>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departs</th>
          <th>Departure Airport</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><%= flight.airport %></td>
        </tr>
      </tbody>
    </table>
  </section>

  <h2>Destinations</h2>
  <table>
    <thead>
      <tr>
        <th>Add Destination</th>
      </tr>
    </thead>
    <tbody>
      <!-- forEach -->
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
  <form action="#">
    <label for="#">
      <select name="" id="">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    </label>
    <label for="#">Arrival:
    <input type="datetime-local" name="#">
  </label>
  <button type="submit">SUBMIT</button>
  </form>



  </body>
</html>
